<nav class="navbar bg-dark">
    <div class="container">
        <h2 style="color: white;">ANGULAR CRUD OPERATION</h2>
    </div>
    <div class="give-button">
        <button class="btn btn-success btn-lg" data-bs-toggle="modal" data-bs-target="#exampleModal">Add
            Employee</button>
    </div>
</nav>



<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div style="background-color: yellowgreen;" class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Employee Data</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="submitemp">
                <div class="form-group mb-2">
                    <label for="details">Enter name</label>
                    <input type="text" class="form-control" placeholder="Enter name" formControlName="name">
                </div>
                <div class="form-group mb-2">
                    <label for="details">Enter email</label>
                    <input type="text" class="form-control" placeholder="Enter email" formControlName="email">
                </div>
                <div class="form-group mb-2">
                    <label for="details">Enter city</label>
                    <input type="text" class="form-control" placeholder="Enter city" formControlName="city">
                </div>
                <div class="form-group mb-2">
                    <label for="details">Enter pincode</label>
                    <input type="number" class="form-control" placeholder="Enter pincode" formControlName="pincode">
                </div>
                <div class="form-group mb-2">
                    <label for="details">Enter phone number</label>
                    <input type="number" class="form-control" placeholder="Enter phone number"
                        formControlName="phonenumber">
                </div>
            </form>
</div>
            <div style="background-color: yellowgreen;" class="modal-footer">

                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button (click)="addemployee(this.submitemp.value)"[disabled]="this.submitemp.invalid" type="button" class="btn btn-primary">Add</button>

            </div>
        </div>
    </div>
</div>
<div container-fluid="mb-2">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">name</th>
            <th scope="col">email</th>
            <th scope="col">city</th>
            <th scope="col">pincode</th>
            <th scope="col">phonenumber</th>
            <th scope="col">action</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of data">
                <td>{{item.name}}</td>
                <td>{{item.email}}</td>
                <td>{{item.city}}</td>
                <td>{{item.pincode}}</td>
                <td>{{item.phonenumber}}</td>   
                <td class="space">
                    <button routerLink="/update/{{item.id}}" class="btn btn-warning">edit</button>&nbsp;
                    <button (click)="deleteEmployee(item.id)" class=" btn btn-success">delete</button> 
                    <!-- (click)="delete(item.id)" -->
                </td>        
             </tr>
           </tbody>
      </table>
</div>





.



















    